/* Variables */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background: #f1f4ff;
  /* W3C */ }

body {
  font-size: 1.6rem;
  font-family: "Open sans", sans-serif;
  height: 120vh;
  width: 100%;
  margin-top: 8rem;
  color: #373F57; }

.header-container {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 2rem 5%; }

.logo {
  cursor: pointer;
  font-size: 1.6rem;
  font-size: 3rem;
  font-weight: 700;
  color: #373F57;
  justify-content: flex-start; }

.nav-items {
  display: flex;
  flex-direction: row; }

.nav-item {
  list-style: none; }
  .nav-item a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 0;
    margin: 0 2rem;
    font-weight: 500;
    color: #373F57;
    transition: all 0.2s ease 0s; }
  .nav-item a:hover {
    color: #6772e5; }
  .nav-item a:focus {
    outline: none;
    color: #6772e5; }
  .nav-item a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent; }
  .nav-item .animation-hover:after {
    transition: width 0.3s ease, background-color 0.3s ease, left 0.3s ease; }
  .nav-item .animation-hover:hover:after {
    width: 100%;
    left: 0;
    background: #6772e5; }

.nav-btn button {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0 1.4rem;
  font-weight: 700;
  color: #373F57;
  border: none;
  outline: none;
  border-radius: 5rem;
  border-bottom: 1px solid #6772e5;
  letter-spacing: 0.15rem;
  background: #f1f4ff;
  box-shadow: 7px 7px 13px #cdcfd9, -7px -7px 13px #ffffff;
  transition: all 0.2s ease 0.1s; }

.nav-btn button:hover {
  box-shadow: 13px 13px 13px #cdcfd9, -13px -13px 26px #ffffff;
  color: #6772e5;
  /* text-shadow: 
    0 0 0.5rem $color-whitish,
    0 0 1rem $color-whitish,
    0 0 1.5rem $color-whitish,
    0 0 0.2rem $bg-color-nav-btn; */ }

.nav-btn button:focus {
  box-shadow: 7px 7px 13px #cdcfd9, -7px -7px 13px #ffffff;
  color: #6772e5; }

.nav-btn button:active {
  border: none;
  border-radius: 50px;
  background: #6772e5;
  color: #ffffff; }

.main-section-hero {
  display: flex;
  flex-direction: row;
  height: 80vh; }

.left-section-hero {
  width: 50%;
  position: relative; }
  .left-section-hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.8rem; }

.right-section-hero {
  width: 50%;
  background-image: url(./img/undraw_prototyping_process_rswj.svg);
  background-size: cover;
  background-position: center; }
